{% extends "base.html" %}
{% load static %}

{% block header %}
    <div class="container-fluid sh-cont-header">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-12 col-md-6 my-auto">
        <h2 class="sh-font-logo">
            Browse Our Products
        </h2>
        <div class="my-5">
            <h4>Product Table</h4>
        </div>
    </div>
    <div class="d-none d-md-block col-md-4 my-auto">
        <h3 class="sh-font-logo">
            Product Details
        </h3>
        <!-- Redirects user to the main products page-->
        <div class="my-5">
            <h5>
                <a href="" class="sh-shop-now-btn btn btn-lg rounded-0 text-uppercase py-3">Product Name</a>
            </h5>
        </div>
    </div>
{% endblock %}