{% extends "base.html" %}
{% load static %}

{% block header %}
    <div class="container-fluid sh-cont-header">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="text-center"><h2 class="sh-font-logo">Smarter Commuting Apparel</h2></div>
    <div class="my-5"><h4>Product Table</h4></div>
{% endblock %}

{% block aside %}
    <div class="sh-dt-sidebars text-center pt-md-4">
        <h5 class="sh-h-color-02">Featured Products</h5>
        <!-- Redirects user to the main products page-->
        <div class="my-5">
            <h5>
                <a href="" class="btn btn-lg rounded-0 py-3 sh-h-color-02">StreetHeat v1</a>
            </h5>
            <div>
                <img src="media/product-placeholder-image-01.png" alt="StreetHeat Version 1!" width="100px">
            </div>
        </div>
    </div>
{% endblock %}