<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Mobile Logo -->
        <a href="{% url 'home' %}" class="d-md-none navbar-brand sh-main-logo-link">
            <h1 class="my-0 sh-logo-font sh-h-color-01"><em>Street<small>Heat</small></em></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="mainNavDrop1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        All Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mainNavDrop1">
                        <li><a href="" class="dropdown-item">By Price</a></li>
                        <li><a href="" class="dropdown-item ">By Rating</a></li>
                        <li><a href="" class="dropdown-item ">By Category</a></li>
                        <li><a href="" class="dropdown-item">All Products</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="mainNavDrop2" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Clothing
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mainNavDrop2">
                        <li><a href="" class="dropdown-item">Accessories</a></li>
                        <li><a href="" class="dropdown-item ">Boots</a></li>
                        <li><a href="" class="dropdown-item ">Coats</a></li>
                        <li><a href="" class="dropdown-item">Gloves</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="mainNavDrop3" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Gear
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mainNavDrop3">
                        <li><a href="" class="dropdown-item">Purses</a></li>
                        <li><a href="" class="dropdown-item ">Backpacks</a></li>
                        <li><a href="" class="dropdown-item ">Cases</a></li>
                        <li><a href="" class="dropdown-item">Umbrellas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="mainNavDrop4" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Culinary
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mainNavDrop4">
                        <li><a href="" class="dropdown-item">On The Go Food</a></li>
                        <li><a href="" class="dropdown-item">Kitchen Items</a></li>
                        <li><a href="" class="dropdown-item ">Spices</a></li>
                        <li><a href="" class="dropdown-item ">Recipes</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>




